.accordion{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: visible;
}

.title{
    font-size: 23px;
    font-weight: bold;
}

.daily-item{
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 5px -2px 20px 2px rgba(0 0 0 / 30%);
    align-items: center;
    flex-direction: column;
    justify-items: space-between;
    text-align: center;
    display: flex;
    
    width: 150px;
    height: 150px;
    padding: 10px;
    background: rgb(64,57,190);
    background: linear-gradient(0deg, rgba(64,57,190,1) 0%, rgba(0,231,255,1) 100%);

}

.icon-small{
    width: 60px;
}

.day{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.description{
    font-size: 20px;
    color: white;
}

.min-max{
    font-size: 14px;
    color:rgb(219, 214, 214);
}