.weather {
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 10px -2px 20px 2px rgba(0 0 0 / 30%);
    color: white;
    background: rgb(64,57,190);
    background: linear-gradient(0deg, rgba(64,57,190,1) 0%, rgba(0,231,255,1) 100%);
    margin: 20px auto 0 auto;
    padding: 0 30px 30px 30px;
}

.city{
    padding: 20px 0px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

}

.temperature-container{
    justify-content: center;
    align-items: center;
}

.weather-desc{
    font-size: 24px;
    line-height: 1;
    margin: 0;
    text-align: center;
}

.temperature {
    font-weight: bold;
    /*font-size: 60px;*/
    font-size: clamp(2.5rem, 10vw, 60px);
    width: auto;
    letter-spacing: -4px;
    margin: 10px 10px -5px 10px;
}

.weather-icon{
    width: 100px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    width: 100%;
}

.parameter-row{
    display: flex;
    justify-content: space-between;
}

.param-label{
    text-align: left;
    font-size: 18px;
}

.param-value{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}